body {
	background-image: url("../images/blockchain2.gif");
	background-color: 
	height: 20%;
	background-size: 50%;
	border-style: solid;
}
header {
	height: 5rem;
}

#pages {
	background-color: white;
	border-style: solid;
}