body {
    color: white;
    background-image: radial-gradient(circle, green, purple, blue, purple);
    background-attachment: fixed;
}

fieldset, input {
    width: 15rem;
    margin: auto;
}

#fraudEvents {
	height: 30rem;
	width: 25rem;
	margin: auto;
	overflow: auto;
	padding-right: 1rem;
	padding-left: 1rem;
	border-top-width: .1rem;
	border-top-style: solid;
	border-top-color: white;
}

.fraudEvent {
	border-width: .1rem;
	border-style: solid;
	border-color: grey;
}

.pie {
    text-align: center; 
}