body {
    color: white;
    background-image: linear-gradient(black,white);
    background-attachment: fixed;
}

fieldset, input {
    width: 15rem;
    margin: auto;
}

#fraudEvents {
    height: 30rem;
    width: 25rem;
    margin: auto;
    overflow: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    border-top-width: .1rem;
    border-top-style: solid;
    border-top-color: white;
}

.fraudEvent, #fraudList {
    border-width: .1rem;
    border-style: solid;
    border-color: grey;
}

#fraudList {   
    visibility: hidden;
}

#fraudOutput{
    width: 25rem;
    margin: auto;
}

#tree-simple {
	background: white;
	color: black;
    border-width: .1rem;
    border-style: solid;
    border-color: black;
    visibility: hidden;
}

#pie {
    text-align: center; 
}



